
<ion-content>

  <!--Intro Section-->
  <ion-grid style="padding-top: 5vh;">
    <ion-icon (click)="navigateToHome()" name="arrow-back-outline"
      style="padding:15px; position: absolute; top: 0; right: 0; font-size: 35px; color: rgb(0, 0, 0);"></ion-icon>
    <div
      style="display: flex; flex-direction:column; align-items:center; justify-content:center;">
      <ion-avatar>
        <img alt="Joseph" src="../../assets/standstill.png" />
      </ion-avatar>
  
      <ion-row style="width: 100%;">
        <ion-col size="12"
          style="display: flex; justify-content: center; text-align: center; width: 100%; padding-right: 15px;">
          <div>
            <h2 style=" color:#1a1a1a">Hi, I'm Joseph Brooks</h2>
            <p style="color:#1a1a1a">I like making things, traveling and meeting new people! </p>
            <br>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>


  <!--Projects Section-->
  <div style="background-color:#9d9d9d; padding-top: 25vh;">
    <ion-text>
      <h2 style="background-color: #9d9d9d; margin: 0; color:#1a1a1a">My Projects</h2>
    </ion-text>
    <ion-grid>
      <ion-row class="projects-row" style="width: 100%; height: 85vh;">
        <ion-col size="4"
          style="margin-inline: auto; display: flex; justify-content: center; width:none !important; max-width: none !important; ">
          <a href="https://github.com/Jbrooks00/Go-Mechanic" target="_blank">
            <ion-card class="card-projects">
              <div class="ion-text-center" style="position:absolute">
                <h1 style="color: #09272c">Go-Mechanic</h1>
                <p style="padding-left: 15px; padding-right: 15px; color: #272727">While studying at WSU, I had lead a
                  team of students develop an uber-like web application for mobile mechanics.</p>
              </div>
            </ion-card>
          </a>
        </ion-col>
        <ion-col size="4" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://github.com/Jbrooks00" target="_blank">
            <ion-card class="card-projects">
              <div class="ion-text-center" style="position:absolute">
                <h1 style="color: #09272c">Dealer Performance App</h1>
                <p style="padding-left: 15px; padding-right: 15px; color:#272727">A capstone project for Urban Science, I had lead a
                  group of students develop a sales analytics mobile application for dealerships.</p>
              </div>
            </ion-card>
          </a>
        </ion-col>
        <ion-col size="4" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://github.com/Jbrooks00" target="_blank">
            <ion-card class="card-projects">
              <div class="ion-text-center">
                <h1 class="gifted" style="color:#09272c">My Github Projects</h1>
                <p></p>
              </div>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!--Experience Section-->
  <div style="background-color: #9d9d9d; padding-top: 25vh;">
    <ion-text>
      <h2 style="background-color: #9d9d9d; color:#09272c; margin: 0;">My Work Experience</h2>
    </ion-text>
    <ion-grid>
      <ion-row class="projects-row" style="width: 100%; height: 85vh;">
        <ion-col size="6"
          style="margin-inline: auto; display: flex; justify-content: center; width:none !important; max-width: none !important; ">
          <a href="https://www.instagram.com/jsbcoatings/" target="_blank">
            <ion-card class="card-experience" >
              <div class="ion-text-center" style="position:absolute">
                <h1 style="color:#1a1a1a">JSB Coatings</h1>
                <p style="padding-left: 15px; padding-right: 15px; color:#272727">Founded and nurtured a one man army powdercoating service. Specializing in 
                  automotive, refinishing performance wheels, parts, tools, and much more!  
                </p>
              </div>
            </ion-card>
          </a>
        </ion-col>
        <ion-col size="6" style="margin-inline: auto; display: flex; justify-content: center;">

            <ion-card class="card-experience" style="box-shadow: 0 0 10px  #157a8a;">
              <div class="ion-text-center" style="position:absolute">
                <h1 style="color:#1a1a1a">Blue Cross Blue Shield</h1>
                <p style="padding-left: 15px; padding-right: 15px; color:#272727">I served as an executive services intern where I shadowed appeals and grievances
                  analysts, and learned the process of handling client complaints. Furthermore, I had construcuted many documents for the executive team, the most
                  notable being the audit reports for the years 2021 and 2022.
                </p>
              </div>
            </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--Education-->
  <div style="background-color: #9d9d9d; padding-top: 25vh;">
    <ion-text>
      <h2 style="background-color: #9d9d9d; margin: 0; color:#1a1a1a">Education</h2>
    </ion-text>
    <ion-grid>
      <ion-row class="projects-row" style="width: 100%; height: 85vh;">
        <ion-col size="12" style="margin-inline: auto; display: flex; justify-content: center; width:none !important; max-width: none !important; ">
    
            <div class="ion-text-center" style="position:absolute; padding:0; max-height:350px; overflow-y:none;">
              <h1 style="color:#272727">Bachelors of Science in Computer Science</h1>
              
              <ion-col size="12" style="margin-inline: auto; display: flex; justify-content: center; width:none !important; max-width: none !important; ">
                <img src="../../assets/Wayne_State_University_seal.svg" alt="Wayne State University Seal" style="width: 200px; height: 200px; opacity: 0.7;">
            </ion-col><h1>2019 - 2023</h1>
            </div>

      </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!--Socials-->
  <div style="background-color: #9d9d9d;">
    <ion-text>
      <h2 style="background-color: #9d9d9d; margin: 0; color:#1a1a1a;">Connect with me!</h2>
    </ion-text>
    <ion-grid style="height: 350px;">
      <ion-row style="width: 100%; height: 250px;">

        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://github.com/Jbrooks00" target="_blank"><ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-github-3.svg"></ion-icon></a>
        </ion-col>  

        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://open.spotify.com/user/227aawhzy2ltroiuuqi3h6xty/" target="_blank"><ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-spotify-3.svg"></ion-icon></a>
        </ion-col>
        
        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://discord.gg/KPnRx7dg/" target="_blank"><ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-discord-3.svg"></ion-icon></a>
        </ion-col>
        
        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://www.linkedin.com/in/joseph-brooks-a5487b1b7/" target="_blank"> <ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-linkedin-3.svg"></ion-icon></a>
        </ion-col>

        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://www.instagram.com/slo.392/" target="_blank"> <ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-instagram-13.svg"></ion-icon></a>
        </ion-col>
        
        <ion-col size="2" style="margin-inline: auto; display: flex; justify-content: center;">
          <a href="https://steamcommunity.com/profiles/76561199096085034/" target="_blank"><ion-icon style="font-size:50px; color:black;" src="../../assets/socialicons/iconmonstr-steam-3.svg"></ion-icon></a>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>