
<ion-content>
  <ion-grid>
    <ion-row style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <ion-col size="6" style="width: 100%; display: flex; justify-content: center;">
        <ion-avatar style="width: 200px; height: 200px;">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="12" style="display: flex; justify-content: center; text-align: center; width: 100%; padding-right: 15px;">
        <div>
          <h2>Hi, I'm Joseph Brooks</h2>
          <p style="padding: 25px;">A recent computer science graduate with a passion to develop. This porfolio website is powered by Angluar/Ionic and hosted on AWS. My goal is to contribute on meaningful projects with a team of like minded individuals. </p>
          <br>
          <p>Interested in collaborating? <a style="color:rgb(224, 224, 224)" href="mailto:josephbrooks000@gmail.com">contact me</a></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="12" style="display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; padding: 15px;">
        <h2 style="justify-content:center;" href="../../assets/Resumepic.PNG" download="JosephBrooksResume">Download my resume!
      
        </h2>
      </ion-col>
    
      <ion-col size="12" style="display: flex; justify-content:center; align-items:center;">
        <div style="width:36vh; height:50vh" class="resume"></div>
      </ion-col>
    
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="6" style="display: flex; justify-content: center;">

      </ion-col>
      <ion-col size="6" style="display: flex; justify-content: flex-end; align-items: center; text-align: right; width: 100%; padding-right: 15px;">
        <div>
          <h1>Section 4</h1>
          <h2>Projects</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="6" style="display: flex; justify-content: center;">

      </ion-col>
      <ion-col size="6" style="display: flex; justify-content: flex-end; align-items: center; text-align: right; width: 100%; padding-right: 15px;">
        <div>
          <h1>Section 5</h1>
          <h2>Skills</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="6" style="display: flex; justify-content: center;">

      </ion-col>
      <ion-col size="6" style="display: flex; justify-content: flex-end; align-items: center; text-align: right; width: 100%; padding-right: 15px;">
        <div>
          <h1>Section 6</h1>
          <h2>Experience</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col size="6" style="display: flex; justify-content: center;">

      </ion-col>
      <ion-col size="6" style="display: flex; justify-content: flex-end; align-items: center; text-align: right; width: 100%; padding-right: 15px;">
        <div>
          <h1>Section 7</h1>
          <h2>Education</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>