ion-grid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9d9d9d;
  }

.custom-grid{
  height: auto;
  background-color: #9d9d9d;
}


ion-avatar{
  width:400px;
  height:auto;
}
  /**ionic card styling **/
  .card-projects{
    background-color: #157a8a;
    height: 400px; 
    width: 400px;
    box-shadow: 0 0 20px #157a8a;
  }

  .card-skills{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px #157a8a;
    background-color: #157a8a;
  }
  
  .card-experience{
    background-color: #157a8a;
    box-shadow: 0 0 10px #157a8a;
    width: 400px;
    height: 400px;
  }

  .oversized-text{
    font-size: 20px;
  }
  .ion-text-center{
    padding-top: 25%;
  }
  .skills-text{
    padding-top: 33%;
  }
  @media only screen and (max-width: 600px) {

    /* Remove the max-width on small screens */
    ion-grid ion-row ion-col {
      max-width: none !important;
      width: auto !important;
    }

    ion-card.card-projects {
      display: block;
      box-sizing: border-box; 
      width: 300px;  
      height: 225px;
       
    }

    ion-card.card-skills{
      display: block;
      background-color: #157a8a;
      box-shadow: 0 0 10px #157a8a;
      width: 220px;
      height: 125px;
    }

    ion-card.card-experience{
      display: block;
      background-color: #157a8a;
      box-shadow: 0 0 10px #157a8a;
      width: 225px;
      height: 225px;
    }
    .oversized-text{
      font-size: 20px;
    }
    .ion-text-center{
      padding-top: 0;
      max-height: 225px;  /* Adjust as needed */
      overflow-y: auto;
    }

    h1{
      font-size: 20px;
      font-weight: 600;
    }
    h2{
      font-size: 20px;
      padding-top: 20px;
    }
    p{
      font-size: 12px;}

      ion-avatar {
        width: 250px;
        height: auto;
      }

    .gifted{
      padding-top: 25%;
    }
}


  @media only screen and (max-width: 600px) {
    .projects-row{
      display: block;
    }
  }


  h2{
    margin-bottom:20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    letter-spacing: .02em;
    line-height: 45px;
    color: rgb(97, 97, 97);
   }

   p{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: .02em;
    color: rgb(119,119,119);
    font-weight:600;
   }

  

  .resume {
    transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    transition: 0.6s ease transform;
    background-image: url('../../assets/Resumepic.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    &:hover {
      transform: scale(1);
    }
  
    &::before,
    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.6s ease;
    }
  
    &::before {
      transform: translateZ(4rem);
      border: 5px solid #59f961;
      &:hover {
        transform: translateZ(0);
      }
    }
  
    &::after {
      transform: translateZ(-4rem);
      background: #59f961;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
      &:hover {
        transform: translateZ(-1px);
      }
    }
  }
  

  .scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }
  
  @keyframes scroll-watc59f961her {
    to {
      scale: 1 1;
    }
  }