<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Joseph Samuel Brooks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!--Start of loading animation, else display content-->
  <div class="wrapper">
  <ng-container *ngIf="loading; else content"> 
  <div @fadeInOut style="display: flex; justify-content: center; align-items: center; margin: 150px;">
    <div class="loader">
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
    </div>
  </div>
</ng-container>


<!--Main Content Displayed-->
<ng-template #content>
  <div id="container" style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; height: 100vh;">

    <!-- Conditionally render the buttons based on the 'showButtons' variable -->
    <div *ngIf="showButtons">
      <div style="margin-bottom: 10px;">
        <ion-router-link routerLink="/standard-site" class="ion-activatable ripple-parent rounded-rectangle">
          Standard Site
          <ion-ripple-effect></ion-ripple-effect>
        </ion-router-link>
      </div>
        
    <div style="margin-top: 10px;">
      <ion-router-link (click)="showButtons = false" class="ion-activatable ripple-parent rounded-rectangle">
        Shell Terminal
        <ion-ripple-effect></ion-ripple-effect>
      </ion-router-link>  
    </div>
  </div>
  <!--If shell terminal is selected, stay in root directory and display component.-->
  <app-terminal *ngIf="!showButtons"></app-terminal>

  <ion-card *ngIf="!showButtons && showCard" style="position: absolute; left: 0;">
    <ion-card-header>
      <ion-card-title>Terminal Portfolio</ion-card-title>
      <ion-card-subtitle>This is a custom shell terminal programmed with information about me!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      If you would like to return to the main page, click <a href="/home">here</a>. Remember, you can always view the standard site, to navigate simply click <ion-router-link routerLink="/standard-site">here!</ion-router-link> <br> <ion-button (click)="hideCard()">Got it!</ion-button>
    </ion-card-content>
  </ion-card>


  </div>
</ng-template>
</div>
</ion-content>
