ion-content{
  --background: #d3d3d3;

}
ion-toolbar{
  --background: #e0e0e0;
  --color: #000000;

}

ion-card{
  --background: #d3d3d3;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.loading-state, 
.content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 300px;
}

.left-side {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;

}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #1f1f1f;
  color: #d3d3d3;
}


//loading animation
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #191940;
  overflow: hidden;
  }
  .main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 75vh;
  position: relative;
  }
  .balls{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  }
  .ball{
  position: absolute;
  top: -50px;
  width: 50px;
  height: 50px;
  background: peru;
  border-radius: 50%;
  margin: 0 20px;
  animation: ball 4s infinite;
  }
  .ball--1{ background-image: linear-gradient(to bottom , #ff3e3e, #cc0909);}
  .ball--2{ background-image: linear-gradient(to bottom , #ff6600, #c04600);}
  .ball--3{ background-image: linear-gradient(to bottom , #0019fe, #020da8);}
  .balls-1 .ball--1{ left: 67px; animation-delay: 0; }
  .balls-1 .ball--2{ left: 149px; animation-delay: .05s; }
  .balls-1 .ball--3{ left: 230px; animation-delay: .1s; }

  .balls-2 .ball--1{ left: 100px; animation-delay: 2s; }
  .balls-2 .ball--2{ left: 150px; animation-delay: 2.05s; }
  .balls-2 .ball--3{ left: 200px; animation-delay: 2.1s; }

  @keyframes ball {
  0%, 25%{ top: -50px; }
  35%{ top: calc(60% - 50px ); }
  40%{ top: calc(45% - 50px ); }
  45%{ top: calc(55% - 50px ); }
  50%, 70%{ top: calc(50% - 25px); }
  80%, 100%{ top: 0%; }
  }



 //Button selection styling
 .wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 170px;
  width: 400px;

  margin: 0 auto;
}
ripple-parent
b {
  width: 100%;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 3px solid #000000;

  user-select: none;
}

.ripple-parent1 {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 3px solid #c7c7c7;

  user-select: none;
}

.rounded-rectangle {
  width: 250px;
  height: 75px;
  border-radius: 8px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}



//Terminal media queries for mobile and desktop
@media (max-width: 600px) {
  app-terminal{
    width: 100vw;

  }
  
}

@media (min-width: 601px) {
  app-terminal {
    width: 100vh;
    padding: 10px;
  }
}

.custom-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-button{
  position: absolute;
  padding-top: 5px;
  padding-right: 5px;
  top: 0;
  right: 0;
}