<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Joseph Samuel Brooks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!--Start of loading animation, else display content-->
  <div class="wrapper">
  <ng-container *ngIf="loading; else content"> 
  <div @fadeInOut style="display: flex; justify-content: center; align-items: center; margin: 150px;">
    <div class="loader">
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
    </div>
  </div>
</ng-container>


<!--Main Content Displayed-->
<ng-template #content>
  <div id="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">

    <!-- Conditionally render the buttons based on the 'showButtons' variable -->
    <div *ngIf="showButtons">
      <div style="margin-bottom: 10px;">
        <ion-router-link routerLink="/standard-site" class="ion-activatable ripple-parent rounded-rectangle">
          Standard Site
          <ion-ripple-effect></ion-ripple-effect>
        </ion-router-link>
      </div>
        
      <div style="margin-top: 10px;">
        <ion-router-link (click)="showButtons = false" class="ion-activatable ripple-parent rounded-rectangle">
          Shell Terminal
          <ion-ripple-effect></ion-ripple-effect>
        </ion-router-link>
      </div>
    </div>

    <!-- Display the <app-terminal> component when 'showButtons' is false -->
    <app-terminal *ngIf="!showButtons" class="centered"></app-terminal>

  </div>
</ng-template>
</div>
</ion-content>
